.flight-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.flight-card {
  width: 49%;
  height: 600px;
}

.flight-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
}

.flight-map {
  margin: auto;
  width: 100%;
  height: 100%;
}
