<div class="flight-wrapper" *ngIf="flight">
  <h1>{{ flight.destination }}</h1>
  <div class="flight-content">
    <mat-card class="flight-card" appearance="outlined">
      <img mat-card-image src="{{ this.webService.generateImageUrl(flight.destination) }}" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile
          dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="flight-card" appearance="outlined"
      ><iframe
        mat-card-image
        class="flight-map"
        height="400"
        [src]="generateMapLink() | safe"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        id="gmaps"
      ></iframe
    ></mat-card>
  </div>
</div>
