html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5 {
  color: black;
}

.container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-card {
  width: 900px;
  background-color: #f8a145;
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  justify-content: left;
  gap: 5px;
}

.example-card {
  max-width: 400px;
  background-color: #f8a145;
  border: 0.01rem solid #151515;
}
