<div *ngIf="recommended" class="container">
  <mat-card class="example-card" appearance="outlined" *ngFor="let flight of recommended">
    <img mat-card-image [src]="generateImageUrl(flight.destination)" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <h1>{{ flight.destination }}</h1>
    </mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">Scheduled for: {{ formatDate(flight.scheduledAt) }}</mat-list-item>
      <mat-list-item role="listitem">Flight number: {{ flight.flightNumber }}</mat-list-item>
      <mat-list-item role="listitem">Plane model: {{ flight.plane }}</mat-list-item>
    </mat-list>
    <mat-card-actions>
      <a mat-button [routerLink]="['flight/' + flight.id]"><i class="fa-solid fa-circle-info"></i> DETAILS</a>

      <a mat-button [routerLink]="['book/' + flight.id]"><i class="fa-solid fa-up-right-from-square"></i> BOOK NOW</a>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="destinations" class="container serach-container">
  <mat-card appearance="outlined" class="search-card">
    <mat-card-content>
      <h1>Search for your destination</h1>
      <form class="search-form">
        <mat-form-field class="search-field">
          <mat-label>Destination</mat-label>
          <mat-select>
            <mat-option [value]="destination" *ngFor="let destination of destinations">{{ destination }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="search-field">
          <mat-label>Airline</mat-label>
          <mat-select>
            <mat-option [value]="airline" *ngFor="let airline of airlines">{{ airline }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="search-field">
          <mat-label>Flight class</mat-label>
          <mat-select>
            <mat-option [value]="flightClass" *ngFor="let flightClass of flightClasses">{{ flightClass }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="search-field">
          <mat-label>Return</mat-label>
          <mat-select>
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [routerLink]="['/search']"><i class="fa-solid fa-search"></i> SEARCH NOW</a>
    </mat-card-actions>
  </mat-card>
</div>
